.NavbarModel{
  position: fixed;
  max-width: 23.5rem;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--blue-grey);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  transition: all 0.7s linear;
}

.NavbarModel.hide-nav{
  left: -10%;
}