.ModelView.move-child,
.History.move-child{
  padding-left: 25rem;
  transition: all 0.4s linear;
}

.ModelView,
.History{
  padding: 1rem 2rem 0 5rem;
  transition: all 0.5s linear;
}

.App{
  background-color: var(--dark-blue);
}