.ModelView.move-child,
.History.move-child{
  padding-left: 25rem;
  padding-right: 5rem;
  transition: all 0.4s linear;
}

.ModelView,
.History{
  padding: 1rem 2rem 0 5rem;
  transition: all 0.5s linear;
}

.App{
  background-color: var(--dark-blue);
  max-width: 100vw;
}

@media screen and (max-width: 1550px){
  html{
    font-size: 14px;
  }
} 