@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root{
  --dark-blue: #222831;
  --blue-grey: #393E46;
  --light-blue-grey: #6A7281;
  --dark-slate-blue: #28475C;
  --white: #FFF;
  --dark-orange: #B55400;
  --standard-orange: #D65A31;
  --light-orange: #FF7600;
  --standard-red: #B03107;
  --dark-cyan: #2D6E7E;
  --light-cyan: #2F8886;
}

body{
  background-color: var(--dark-blue);
}